@import url('https://fonts.googleapis.com/css2?family=Fleur+De+Leah&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');




body, html {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #a9dffc;
}

.navbar-brand {
  font-family: Fleur De Leah;
  font-size: 75px !important;
}

.intro {
  background-image: url('images/springflowers.jpg'); 
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  text-align: center;
  color: white;
  font-family: Lobster;
}
#spring {
  position: absolute;
  top: 8px;
  right: 16px;
  font-size: 100px;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: black;
  letter-spacing: 5px;
  
}
#stop_in{
  position: absolute;
  bottom: 8px;
  left: 16px;
  font-size: 55px;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: black;
  letter-spacing: 5px;
}

.green_bar {
  height: 150px;
  background-color: rgb(198, 247, 198);
}
.heart{
  width: 150px;
  height: 100px;
  padding-left: 50px;
  padding-top: 25px;
  text-align: center;
}
#green_heart_image{
  height: 50px;
  width: 50px;
}
#trust{
  font-family: Lobster;
  font-size: 20px;
}
.leaf{
  border: solid red;
  width: 150px;
  height: 100px;
  margin-left: 250px;
  text-align: center;
}
#green_leaf_image{
  height: 50px;
  width: 50px;
}
#home_grown{
  font-family: Lobster;
  font-size: 20px;
}