@import url('https://fonts.googleapis.com/css2?family=Fleur+De+Leah&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');


@import url('https://fonts.cdnfonts.com/css/geograph-edit');

body, html {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: white;
}

/* NAVBAR STYLING */
.center-title {
  font-family: Geograph;
  padding-left: 42%;
  color: rgb(2, 63, 2);
  text-shadow: 1PX 1PX 1PX green;
}


/* INTRO SECTION STYLING */
.intro {
  background-image: url('/images/tulips.jpeg'); 
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  text-align: center;
  color: white;
  font-family: Lobster;
}
.intro::before {
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-color: rgba(251, 249, 249, 0.25);
}
#spring {
  position: absolute;
  top: 100px;
  right: 16px;
  font-size: 75px;
  letter-spacing: 5px;
  text-shadow: 1px 1px 1px #000;
}
#stop_in{
  position: absolute;
  bottom: 100px;
  left: 16px;
  font-size: 55px;
  letter-spacing: 5px;
  text-shadow: 2px 2px 2px #000;
}

/* GREEN BAR SECTION STYLING */
.green_bar {
  height: 150px;
  background-color: rgb(221, 239, 221);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  text-align: center;
}
.green_image{
  height: 50px;
  width: 50px;
}
.leaf, .check_mark, .heart{
  padding-top: 40px;
}
.text_under_image{
  font-size: 20px;
}

/* PLANT CARD LINKS SECTION */

#shopping {
  padding-top: 50px;
}

#img_card {
  width:  300px;
  height: 300px;
  object-fit: cover;
  margin: 50px;
}

.link_btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: tan;
  color: black;
  border: solid black;
  font-size: 20px;
  padding: 10px;
}

.link_btn:hover {
 background-color: rgba(0, 0, 0, 0.5);
 color: white;
 text-decoration: none;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* GUIDES SECTION STYLING */

.learn_more {
  text-decoration: underline;
  color: black;
  font-size: 20px;
}
h4, .container, #guides {
  text-align: center;
}
